{
	"root": true,

	"extends": "@ljharb",

	"rules": {
		"new-cap": [2, {
			"capIsNewExceptions": [
				"Call",
				"ToUint32"
			],
		}],
		"no-magic-numbers": [2, {
			"ignore": [0, 1, 2]
		}],
	},

	"overrides": [
		{
			"files": "test/**/*",
			"rules": {
				"no-magic-numbers": 0,
			},
		}
	]
}
